{% extends 'quiplash/base.html.twig' %}
{% block body %}
  <div id="form">
    <h2>You have answered all your prompts! Go back to the group chat and wait for the other players to answer.</h2>
  </div>
{% endblock body %}
